/*The overall style of the page*/
* {

  font-family: Arial, Helvetica, sans-serif;
  color: #210203;
}

/*Body styling*/
body {
  background-color: #d3b99f;
}

/*Header styling*/
header {
  background-color: #9aadbf;
  padding: 30px;
}

/*Horizontal */
hr {
  background: #210203;
  border: none;
  height: 2px;
}

/*Base styling for the name elements*/
.name {
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 2em;
  font-weight: normal;
}

/*Stlying for just large name elements*/
.name-large {
  font-size: 4em;
}

/*Styling for just small name elements*/
.name-small {
  font-size: medium;
}

/*Styling for all container class elements*/
.container {
  margin: auto;
  width: 50%;
  padding: 50px;
}

/*Stling for the picture container*/
.picture-container {
  float: left;
  margin-right: 100px;
  margin-bottom: 50px;
}

/*Styling for the profile picture*/
.profile-pic {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

/*Stlying for the intro container*/
.intro-container {
  margin: 100px 50px 100px 50px;
  width: 100%;
}

/*Styling for the h2 headers*/
.header {
  text-align: center;
  padding-bottom: 10px;
}

/*Styling for centering the interests*/
.center-interests {
  display: inline-block;
  margin-left: 50px;
}

/*Shared styling for about me and contact containers*/
.about-me-container,
.contact-container {
  width: 100%;
  padding: 25px 100px;
}

/*Styling for the contact list*/
.contact-list {
  margin: auto 75px;
}

/*Styling for list items in contact list*/
.contact-list li {
  display: inline-block;
  padding: 10px 40px;
}

/*Styling for anchors in contact list*/
.contact-list a {
  font-weight: bold;
  color: #6d98ba;
}

a:hover {
  color: #9aadbf;
}

/*Footer styling*/
footer {
  background-color: #9aadbf;
  padding: 30px;
}
